
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;

}

.app {
   font-size: 1em;
}

.top-background {
    background-image: url(../img/stardew.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    /*shows color red if I am off bounds*/
    background-color: rgb(0, 119, 255);

    
    min-height: 100vh;
    width: 100%;
    
    color: #fff;

    

    position: relative;

    display: flex;
    flex-direction: column;
    
}

.header {
    top: 0;
    position: sticky;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    opacity: .75;
    z-index: 10;
    
}

#title {
    padding: 1.5% 3%;
    font-weight: 500;
    width: 50%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    padding: 1.5% 3%;
}

.nav-links a {
    
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

#introduction {
    position: relative;
    padding: 20% 25%;
    font-size: 2em;
    font-weight: 700;
    z-index: 5;
    color: black;
}

.background-image {
    background-image: linear-gradient(
        rgb(197, 121, 34), rgb(107, 68, 23)
    );
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100vh;
    padding-top: 6rem;
}

#project {
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.project-showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.each-project {
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 50rem 10rem;
    margin: 4rem;
    background-color: black;
    transition: 1s;
    transition-property: font-size;
}

.each-project:hover {
    font-size: 40px;
}

.each-project a {
    position: absolute;
    font-size: 2rem;
    color: white;
    width: 3rem;
    height: 3rem;
    padding: 70px;
}



/* Helper */
.def-button {
    background-color: gray;
    color: black;
    text-decoration: none;
    border-radius: 20vh;
    width: 1.5rem;
    height: 1rem;
}














