
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    
    /*testing*/
    border: none;
}

.app {
    font-size: 1em;
}

.top-background {
    background-image: url(./img/stardew.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    /*shows color blue if I am off bounds*/
    background-color: rgb(0, 119, 255);

    width: 100%;
    height: fit-content;
    color: #fff;

    position: relative;

    display: flex;
    flex-direction: column;
    
}

.header {
    top: 0;
    position: sticky;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    opacity: .75;
    z-index: 10;
    
}

#title {
    padding: 1.5% 3%;
    font-weight: 500;
    width: 50%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    padding: 1.5% 3%;
}

.nav-links a {
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    
}

#introduction {
    position: relative;
    padding: 20% 5%;
    font-size: 3.5em;
    font-weight: 700;
    color: black;
}

.background-image {
    background-image: linear-gradient(
        rgb(197, 121, 34), rgb(107, 68, 23)
    );
    position: relative;
    width: 90%;
    height: 100%;
    margin: 10rem 5% 0 5%;
    padding-bottom: 20vh;
}

#project {
    font-size: 3rem;
    padding: 5rem 2rem;
    color: #fff;
}

.project-showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: relative;
}

.each-project {
    position: relative;
    width: 30vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    background-color: black;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.each-project:hover {
    transform: scale(1.2);
}

.each-project span {
    display: block;
    font-size: 5vh;
    color: white;
    margin: 1rem;
    
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 15px;
    z-index: 15;
    background-color: white;
    width: 70rem;
    max-width: 80%;
    height: 40rem;
    color: black;
}
 
.modal.active {
    transform: translate(-50%, -50%) scale(1);
    
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.modal-header .close-button {
    content: '';
    color: #000;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    transition: ease-in-out;
    transition-duration: .4s;
    padding: 15px;
    
}

.modal-header .close-button:hover {
    background-color: black;
    color: white;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    height: 35rem;
    padding: 10px 15px;
    font-size: large;
}

.modal-body span:nth-child(1) {
    opacity: 0.5;
    font-weight:700;
}

.modal-body span:nth-child(2) {
    line-height: large + 10px;
}

.overlay {
    position: relative;
    height: 0;
    width: 0;
    margin: 0;
    overflow-y: visible;
}

.overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(20px);
    overflow-y: hidden;
    
}

.app.disable-scroll {
    /*
        taking to long to stop the page from scrolling
        moving to the next section
    */
    
}

.about-me-background {
    position: relative;
    height: 100vh;
    padding-top: 10rem;
    color: black;
    margin: 0 5%;
}

#about {
    font-size: 3rem;
    padding: 5rem 2rem 0 2rem;
    color: black;
    
}

#about-body {
    color: black;
    background-color: white;
    font-size: 3.5vh;
    padding: 3%;
    margin: 2rem;
    height: 50vh;
    min-height: 70vh;
}

.contact-me-background {
    position: relative;
    height: fit-content;
    background-color:#000;
    width: 100%;
    padding-bottom: 5%;
}

#contact {
    font-size: 3rem;
    padding: 5rem 2rem;
    color: #fff;
}

.form {
    background-color: rgb(171, 166, 166);
    padding: 1rem;
    margin: 0 15%;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.form-input {
    padding: 1rem 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}

label {
    width: 10%;
}

.all-input {
    height: 25px;
    width: 18rem;
    border: 1px solid #000;
    padding: 5px;
    letter-spacing: 1px;
}

textarea {
    max-width: 100%;
    padding: 5px;
}

#message {
    width: 300px;
    height: 200px;
}

/* Helper */





.def-button {
    background-color: rgb(186, 128, 62);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    width: 25%;
    min-width: 10%;
    height: 30px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.def-button:hover {
    background-color: rgb(135, 76, 18);
    width: 20%;
}














